body {
  margin: 0;
  padding: 0;
  background-color: #72DCE8;
}
div.pageContainter{
  margin: 0 auto;
  width: 80%;

}
header div{
  text-align: center;
  font-size: 30px;
  background-color: #FF925A;
  border: solid 3% #E8DFC4;
  font-family: 'Raleway', sans-serif;
}
.hidden {
  display: none;
}
.row1, .row2{
  display: flex;
  width: 100%;
}
img{
  display: flex;
  width: 25%;
}
aside {
  width: 18%;
  background-color: #E8DFC4;
}
ul {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
}
section.albums {
  display: inline-flex;
}
